# Dependencias
node_modules/

# Variables de entorno (NUNCA subir esto)
.env

# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Base de datos local
*.sqlite
*.db